{% extends 'includes/layout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="dashboard-header">
        <h1>Welcome to the HRM System</h1>
        <p>View and manage shifts effortlessly.</p>
    </div>

    <div class="employee-grid">
        <!-- Employee Image and Personal Details Section -->
        <div class="employee-card image-section">
            <img src="{% static 'img/default-image.webp' %}" alt="Employee Image">
            <h3>{{user.first_name}} {{user.last_name}}</h3>
            <p>{{user.bio}}</p>
        </div>
    </div>
    <br>
    <div class="employee-grid">
        <div class="employee-card details-section">
            <h2>Personal Details</h2>
            <ul class="personal-details">
                <li><strong>Employee ID:</strong> {{user.employee_id}}</li>
                <li><strong>Joined Date:</strong> {{user.joined_date}}</li>
                <li><strong>Date of Birth:</strong> {{user.date_of_birth}}</li>
                <li><strong>Contact Number:</strong> {{user.contact_number}}</li>
                <li><strong>Address:</strong> {{user.address}}</li>
                <li><strong>Personal Email:</strong> {{user.personal_email}}</li>
                <li><strong>Identity Number:</strong> {{user.identity_number}}</li>
                <li><strong>Passport Number:</strong> {{user.passport_number}}</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="employee-grid">
        <div class="employee-card details-section">
            <h2>Emergency Contact</h2>
            <ul class="personal-details">
                <li><strong>Contact Name:</strong> {{user.emergency_contact_name}}</li>
                <li><strong>Contact Number:</strong> {{user.emergency_contact_number}}</li>
                <li><strong>Relationship:</strong> {{user.emergency_contact_relationship}}</li>
                
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    const csrfToken = '{{ csrf_token }}';
</script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
