{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserTable</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="#">EmotionDetection</a> </div>
            <ul>
                <li><a href="/home">Dashboard</a></li>
                <li><a href="/dashboard/">Shifts</a></li>
                {% if request.user.is_superuser %}
                <li><a href="/userboard/">Employee</a></li>
                {% endif %}
                <li><a href="/applyleave/">Apply Leave</a></li>
                <li><a href="/leave/">Leave</a></li>
                <button id="logot-btn" class="button-btn"><a>Logout</a></button>
            </ul>
        </div>
    </nav>
    <div class="create-user-div">
        <button id="create-user" class="button" onclick="openModal('createUserModal')">Create User</button>
    </div>
    <div class="container">
        <h1>Users</h1>
        
        <div class="content">
            <select class="form-control form-control-lg" name="role" id="roleFilter">
                <option value="-1">All Roles</option>
                <option value="1">Admin</option>
                <option value="0">User</option>
            </select> 
            <button id="search-user-btn" class="button">Search</button>
            <div id="data-table" class="data-table">               
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="table-user-body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Create User Modal -->
    <div id="createUserModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h3>Create User</h3>
            <form id="createUserForm">
                <label for="createUsername">Username:</label>
                <input type="text" id="createUsername" name="username" required>
                <label for="createEmail">Email:</label>
                <input type="text" id="createEmail" name="email" required>
                <label for="createFname">Firstname:</label>
                <input type="text" id="createFname" name="fname" required>
                <label for="createLname">Lastname:</label>
                <input type="text" id="createLname" name="lname" required>
                <label for="createPassword">Password:</label>
                <input type="password" id="createPassword" name="password" required>
                <label for="createRole">Role:</label>
                <select id="createRole" name="role">
                    <option value="1">Admin</option>
                    <option value="0">User</option>
                </select>
                <button type="button" onclick="submitCreateUser()">OK</button>
                <button type="button" onclick="closeModal('createUserModal')">Cancel</button>
            </form>
        </div>
    </div>
    


    <!-- Edit Modal -->
    <div id="editModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h3>Edit User</h3>
            <form id="editUserForm">
                <input type="hidden" id="editUserId">
                <label for="editEmail">Email:</label>
                <input type="email" id="editEmail" required>
                <label for="editFname">First Name:</label>
                <input type="text" id="editFname" required>
                <label for="editLname">Last Name:</label>
                <input type="text" id="editLname" required>
                <label for="editRole">Role:</label>
                <select id="editRole">
                    <option value="1">Admin</option>
                    <option value="0">User</option>
                </select>
                <button type="button" onclick="submitEditUser()">OK</button>
                <button type="button" onclick="closeModal('editModal')">Cancel</button>
            </form>
        </div>
    </div>

    <!-- Reset Password Modal -->
    <div id="resetModal" class="modal" style="display: none;">
        <div class="modal-content">
            <h3>Reset Password</h3>
            <form id="resetPasswordForm">
                <input type="hidden" id="resetUserId">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" required>
                <button type="button" onclick="submitResetPassword()">OK</button>
                <button type="button" onclick="closeModal('resetModal')">Cancel</button>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        const csrfToken = '{{ csrf_token }}';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="{% static 'js/user.js' %}"></script>
</body>
</html>
